.flashing-text {
    font-size: 12px;
    animation: flash 9s infinite;
  }
  
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  